/* You can add global styles to this file, and also import other style files */

html {
  background-image: url('./assets/backgroundOrange.jpg');
  text-align: center;
}


.fondo{
  background-image: url('./assets/backgroundOrange.jpg');
  text-align:center;
}
