<div class="row justify-content-center">
  <div class="col-4">
    <div class="form-horizontal">
      <label for="Nombre Persona"></label>
      <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="nombre"
        (input)="onModificarPersona($event)" [(ngModel)]="nombreInput">
      <label for="Apellido Persona"></label>
      <input type="text" class="form-control" name="apellido" id="apellido" aria-describedby="helpId"
        placeholder="apellido" [(ngModel)]="apellidoInput">
      <label for="Edad Persona"></label>
      <input type="number" class="form-control" name="edad" id="edad" aria-describedby="helpId" placeholder="edad"
        [(ngModel)]="edadInput">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="esHombre" id="esHombre" value="checkedValue" unchecked
          [(ngModel)]="esHombreInput"> ¿Eres Hombre?
      </label>
    </div>
  </div>
</div>